{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau employé</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Retour à la liste des employés</a>
{% endblock %}
